<?xml version="1.0" encoding="utf-8"?>

<!--
* DrinkToken
*     Copyright (c) 2016 Katy Brimm
*     This source file is licensed under the BSD 2-Clause License.
*     Please see the file LICENSE in this distribution for license terms.
* Contact: katy.brimm@gmail.com
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kbrimm.app.drinktoken">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_drinktoken"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DrinkToken"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>